@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Magarpatta,Pune<br />
    India 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    95730-67543
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@movies.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@movies.com</a>
</address>