@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 style="text-align: center; color: #158CBA;">WELCOME!!</h1>
    <p class="lead" style="background-color: #158CBA;text-align:center;color:white; font-size:40px;">MOVIE RENTAL</p>
   
</div>

<div class="jumbotron">
    <img src="https://c4.wallpaperflare.com/wallpaper/335/368/957/popcorn-film-photography-wallpaper-preview.jpg" alt="Vidly Movie Rental Store" width="960" height="480">
</div>

<div> <p><a href="https://localhost:44377/Account/Login?ReturnUrl=%2FRentals%2FNew" class="btn btn-primary btn-lg">Click Here To Rent &raquo;</a></p></div>

<div style="text-align:right;">
    <h2>Contact Us</h2>
    <p>Phone:95730-67543<br /></p>
    <p>Email:movies@gmail.com</p>
    <p><a class="btn btn-default" href="https://localhost:44377/Home/Contact">Click for more &raquo;</a></p>
</div>